<div [@routerTransition]>
  <div [class]="containerClass">
    <div class="card card-custom gutter-b">
      <div class="card-body">
        <div class="content d-flex flex-column flex-column-fluid">
          <div class="kt-subheader kt-grid__item">
            <div class="kt-container">
              <div class="kt-subheader__main">
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
              </div>
              <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                  <button class="btn btn-primary" (click)="createBookModal.show()">
                    <i class="fa fa-plus"></i>
                    {{ 'Add New Title' | localize }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="kt-container kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet kt-portlet--mobile">
              <div class="kt-portlet__body kt-portlet__body--fit">
                <br />
                <br />
                <h3>{{ 'Library Titles' | localize }}</h3>
                <br />
                <form autocomplete="off">
                  <div class="kt-form">
                    <div class="row align-items-center kt-margin-b-10">
                      <div class="col-xl-12">
                        <div class="form-group align-items-center">
                          <div class="input-group">
                            <input
                              [(ngModel)]="filter"
                              name="filterText"
                              autoFocus
                              class="form-control"
                              [placeholder]="l('SearchWithThreeDot' | localize)"
                              type="text"
                            />
                            <span class="input-group-btn">
                              <button (click)="getBooks()" class="btn btn-primary" type="submit">
                                <i class="flaticon-search-1"></i>
                              </button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="row align-items-center">
                  <!--<Primeng-TurboTable-Start>-->
                  <div class="primeng-datatable-container">
                    <p-table
                      #dataTableBooks
                      sortMode="multiple"
                      [value]="books"
                      rows="{{ defaultRows }}"
                      [paginator]="false"
                      [lazy]="true"
                      scrollable="true"
                      ScrollWidth="100%"
                    >
                      <ng-template pTemplate="header">
                        <tr>
                          <th style="width: 300px" pSortableColumn="title" (click)="sortTable('title')">
                            {{ 'Title' | localize }}
                            <p-sortIcon field="title"></p-sortIcon>
                          </th>
                          <th style="width: 300px" pSortableColumn="author" (click)="sortTable('author')">
                            {{ 'Author' | localize }}
                            <p-sortIcon field="author"></p-sortIcon>
                          </th>
                          <th style="width: 300px">
                            {{ 'Categories' | localize }}
                            <p field="categories"></p>
                          </th>
                          <th style="width: 200px"></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-record="$implicit">
                        <tr>
                          <td style="width: 200px">
                            {{ record.title }}
                          </td>
                          <td style="width: 200px">
                            {{ record.author.firstName + ' ' + record.author.lastName }}
                          </td>
                          <td style="width: 200px">
                            {{getListOfCategs(record.id)}}
                          </td>
                          <td style="width: 50px">
                            <div class="col kt-align-right">
                              <button
                                (click)="editBookModal.show(record.id)"
                                title="{{ l('Edit') }}"
                                class="btn btn-outline-warning m-btn m-btn--icon m-btn--icon-only m-btn--pill"
                                href="javascript:;"
                              >
                                <i class="fas fa-pencil-alt"></i>
                              </button>
                            </div>
                          </td>
                          <td style="width: 50px">
                            <div class="col kt-align-right">
                              <button
                                id="deleteBook"
                                (click)="deleteBook(record)"
                                title="{{ 'Delete' | localize }}"
                                class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--pill btn-icon"
                                href="javascript:;"
                              >
                                <i class="fa fa-times"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>

            <createBookModal #createBookModal (modalSave)="getBooks()"></createBookModal>
            <editBookModal #editBookModal (modalSave)="getBooks()"></editBookModal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
